body {
    background-color: black;
    color: white;
}

h1, h2 {
    text-align: center;
}

img {
    height: auto;
    width: 300px;
    box-shadow: -5px -5px yellow;
}

.column-1 {
    margin: 95px;
    /* creates column with images */
    display: grid;
    margin: 0px 355px 30px 355px;
}