body {
    background-color: black;
    color: white;
}

h1, h2 {
    text-align: center;
}

.container-1 {
    display: flex;
}

.container-1 div {
    flex: 1;
}

img {
    height: 200px;
    width: 200px;
}